<div class="title mb-2 strong d-flex align-items-center small text-muted text-uppercase">
    <span class="me-1">Comments</span>
    <span *ngIf="!isLoading">({{comments.length}})</span>
    <span *ngIf="isLoading"><i class="pi pi-spinner pi-spin"></i></span>
</div>

<div class="d-flex">
    <div class="small">
        <app-inline-member [showName]="false" [profile]="currentUser"></app-inline-member>
    </div>
    <div class="flex-grow-1 ms-2" (keyup.control.enter)="submit()">
        <app-md-editor [(ngModel)]="text" [minHeight]="100"></app-md-editor>
        <div class="mt-2">
            <button class="btn btn-sm btn-outline-primary"
                    [disabled]="isSavingInProgress || !text"
                    (click)="submit()"
            >
                <span *ngIf="!isSavingInProgress" class="me-1"><i class="pi pi-send"></i></span>
                <span *ngIf="isSavingInProgress" class="me-1"><i class="pi pi-spinner pi-spin"></i></span>
                Add a comment
            </button>
        </div>
    </div>
</div>

<div *ngFor="let comment of comments" class="mt-4">
    <div class="d-flex small align-items-center" style="background-color: #F7F9FA">
        <app-inline-member class="me-2" [profile]="comment.author"></app-inline-member>
        <div class="opacity-75 small">
            commented {{comment.created | timeago}} {{ comment.edited ? ' (edited)' : ''}}
        </div>
        <div class="ms-auto"></div>
    </div>
    <div style="margin-left: 32px">
        <div *ngIf="comment.type === CardCommentType.Html" [innerHTML]="comment.text"></div>
        <div *ngIf="comment.type === CardCommentType.Markdown" class="pt-2">
            <app-text-editor
                    type="markdown"
                    [ngModel]="comment.text"
                    [minHeight]="100"
                    [disabled]="comment.author_id !== currentUser?.id"
                    [isLoading]="isSavingInProgress"
                    (save)="update(comment, $event)"
            ></app-text-editor>
        </div>
    </div>
</div>