<div
  class="text-white align-items-center text-center cursor-pointer d-flex"
  [ngbPopover]="popContent"
  [disablePopover]="isLoading"
  autoClose="outside"
  #popover="ngbPopover"
>
  <img
    alt="avatar"
    width="64"
    height="64"
    class="rounded-circle d-none d-md-block"
    [src]="avatarUrl"
    *ngIf="avatarUrl"
  >
  <span
    class="placeholder rounded-circle d-none d-md-block"
    style="min-width: 64px; min-height: 64px;"
    *ngIf="!avatarUrl"
  ></span>

  <img
    alt="avatar"
    width="32"
    height="32"
    class="rounded-circle d-block d-md-none"
    [src]="avatarUrl"
    *ngIf="avatarUrl"
  >
  <span
    class="placeholder rounded-circle d-block d-md-none"
    style="min-width: 32px; min-height: 32px;"
    *ngIf="!avatarUrl"
  ></span>

  <ng-template #popContent>
    <div class="d-flex justify-content-between">
      <button
        class="btn btn-primary me-2"
        (click)="popover.close(false); searchCard()"
      >
        <i class="pi pi-search"></i> Search cards
      </button>
      <button
        class="btn btn-danger"
        (click)="logout()"
      >
        <i class="pi pi-sign-out"></i>
      </button>
    </div>
    <div class="mt-3">
      <div class="mb-2">Theme</div>
      <div
        class="btn-group"
        role="group"
      >
        <button
          type="button"
          class="btn"
          [ngClass]="{ 'btn-primary': currentTheme === 'light', 'btn-light': currentTheme !== 'light'}"
          (click)="setTheme('light')"
        >
          <i class="pi pi-sun"></i>
          Light
        </button>
        <button
          type="button"
          class="btn"
          [ngClass]="{ 'btn-primary': currentTheme === 'dark', 'btn-light': currentTheme !== 'dark'}"
          (click)="setTheme('dark')"
        >
          <i class="pi pi-moon"></i>
          Dark
        </button>
        <button
          type="button"
          class="btn"
          [ngbTooltip]="'Enable dark mode during the night time (18 PM - 7 AM)'"
          (click)="setTheme('auto')"
          [ngClass]="{ 'btn-primary': currentTheme === 'auto', 'btn-light': currentTheme !== 'auto'}"
        >
          <i class="pi pi-clock"></i>
          Auto
        </button>
      </div>
    </div>
    <div class="mt-3">
      <div class="mb-2">Type of links</div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="linkType"
          id="linkTypeClient"
          [value]="LinkCopyStyle.CLIENT"
          [ngModel]="linkCopyStyle"
          (ngModelChange)="setLinkCopyStyle($event)"
        >
        <label
          class="form-check-label"
          for="linkTypeClient"
        >
          Kaiten Client
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="linkType"
          id="linkTypeKaiten"
          [value]="LinkCopyStyle.KAITEN"
          [ngModel]="linkCopyStyle"
          (ngModelChange)="setLinkCopyStyle($event)"
        >
        <label
          class="form-check-label"
          for="linkTypeKaiten"
        >
          Kaiten Original
        </label>
      </div>
    </div>
    <div class="mt-3 d-none d-md-block">
      <div class="mb-2">Board style</div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="boardStyle"
          id="boardStyleVertical"
          [value]="BoardStyle.Vertical"
          [ngModel]="boardStyle"
          (ngModelChange)="setBoardStyle($event)"
        >
        <label
          class="form-check-label"
          for="boardStyleVertical"
        >
          Vertical
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="bordStyle"
          id="boardStyleHorizontalCollapsable"
          [value]="BoardStyle.HorizontalCollapsible"
          [ngModel]="boardStyle"
          (ngModelChange)="setBoardStyle($event)"
        >
        <label
          class="form-check-label"
          for="boardStyleHorizontalCollapsable"
        >
          Horizontal Collapsible
        </label>
      </div>
    </div>
  </ng-template>

  <div
    class="small d-flex flex-column text-center ms-2"
    *ngIf="showText && !isLoading"
  >
    <strong class="user-select-none">{{profile.full_name}}</strong>
    <span class="smaller d-none d-md-inline user-select-none">&commat;{{profile.username}}</span>
  </div>
</div>