<ng-template #boardColumn let-title="title" let-index="index" let-columnId="columnId">
    <div *ngIf="!(hideEmpty && !cardsByColumnId[columnId]?.length)" class="d-flex border-bottom grid-section w-100" style="min-height: 100px; border-bottom-style: dashed !important;">
        <div class="text-uppercase {{'bg-grad-' + index}} z-0">
            <strong class="sticky-top my-3 user-select-none subcolumn-header" style="text-orientation: mixed; writing-mode: vertical-rl; font-size: small;">
                {{title}}
            </strong>
        </div>
        <div class="m-2 py-2 w-100" dragula="CARD" [attr.data-column-id]="columnId">
            <ng-container *ngFor="let card of cardsByColumnId[columnId]">
                <app-card [card]="card" (updated)="refresh(true)" [attr.data-card-id]="card.id"></app-card>
            </ng-container>

            <div *ngIf="!cardsByColumnId[columnId]?.length" class="text-center">
                <span class="text-muted small">No cards in this state</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #viewColumnsTemplate let-columns="columns" let-viewColumnIndex="viewColumnIndex">
    <div class="d-flex flex-column w-100" dragula="COLUMN" [attr.data-view-column-index]="viewColumnIndex">
        <div *ngFor="let column of columns; index as i" class="column bg-gray" [attr.data-column-index]="i">
            <div class="d-flex strong small border border-1 p-1 column-title cursor-move sticky-top bg-gray z-1 column-header">
                <span class="user-select-none">{{column.title}}</span>
                <span class="ms-auto small"
                      ngbTooltip="WIP limit"
                      *ngIf="column.wip_limit"
                      [class.text-danger]="column.wip_limit < cardsCountByRootColumnId[column.id]"
                      [class.text-warning]="cardsCountByRootColumnId[column.id] / column.wip_limit * 100. > 80."
                      [class.text-success]="cardsCountByRootColumnId[column.id] / column.wip_limit * 100. < 50.">
                    [{{cardsCountByRootColumnId[column.id]}} of {{column.wip_limit}}]
                </span>
                <span class="ms-auto small"
                      ngbTooltip="Cards in column"
                      *ngIf="!column.wip_limit"
                >
                    [{{cardsCountByRootColumnId[column.id]}}]
                </span>
            </div>
            <ng-container *ngIf="column?.subcolumns?.length">
                <ng-container
                        *ngFor="let subcolumn of column.subcolumns; index as i"
                        [ngTemplateOutlet]="boardColumn"
                        [ngTemplateOutletContext]="{index: i, title: subcolumn.title, columnId: subcolumn.id}"
                >
                </ng-container>
            </ng-container>

            <ng-container
                    *ngIf="!column.subcolumns?.length"
                    [ngTemplateOutlet]="boardColumn"
                    [ngTemplateOutletContext]="{index: 0, title: column.title, columnId: column.id}"
            >
            </ng-container>
        </div>
    </div>
</ng-template>

<div class="d-flex flex-wrap flex-md-nowrap">
    <ng-container *ngFor="let viewColumn of viewColumns; index as i" [ngTemplateOutlet]="viewColumnsTemplate" [ngTemplateOutletContext]="{columns: viewColumn.columns, viewColumnIndex: i}"></ng-container>
</div>