@import 'bootstrap/scss/bootstrap';

.column-header {
  top: 54px;
}

.subcolumn-header {
  top: 100px;
}

@media only screen and (min-width: 768px) {
  .column-header {
    top: 0;
  }

  .subcolumn-header {
    top: 47px;
  }
}

.grid-column > .column:last-child {
  flex-grow: 1;

  .column-content:last-child {
    flex-grow: 1;
  }
}

.column-content:last-of-type {
  border-bottom: 0 !important;
}

.column {
  display: flex;
  flex-direction: column;
}

.grid-column :has(.all-collapsed) {
  flex-direction: row;
}

[data-board-style="Vertical"] {
  .column-content + .column-content {
    border-top: 1px dashed $border-color !important;
  }
}

[data-board-style="HorizontalCollapsible"] {
  .subcolumn-header-container {
    top: 31px;
  }

  .column-header {
    border-left: none !important;
    border-right: none !important;
    min-width: 30px !important;
  }

  .column-header-content.sticky-top {
    top: 35px !important;
    margin-top: 11px !important;
  }

  .subcolumn-header {
    top: 35px !important;
  }

  .grid-column + .grid-column,
  .column-content + .column-content {
    border-left: 1px solid $border-color;
  }

  .column-content {
    //border-bottom: 1px solid $border-color !important;
  }
}

.content-when-empty:not(:has(*)) {
  text-align: center !important;
  opacity: 50%;
  font-size: 12px !important;
}

.content-when-empty:not(:has(*)):after {
  content: attr(data-content-when-empty);
}