.column-header {
  top: 55px;
}

.subcolumn-header {
  top: 100px;
}

@media only screen and (min-width: 768px) {
  .column-header {
    top: 0;
  }

  .subcolumn-header {
    top: 47px;
  }
}

.grid-column > .column:last-child {
  flex-grow: 1;

  .column-content {
    flex-grow: 1;
  }
}

.column-content:last-of-type {
  border-bottom: 0 !important;
}

.column {
  display: flex;
  flex-direction: column;
}