<ng-template
  #cardPlaceholderTemplate
  let-columnId="columnId"
  let-newCardId="newCardId"
  let-siblingCardId="siblingCardId"
>
  <ng-template #droppedCardPopoverContent>
    <div class="list-group m-n3">
      <a
        *ngFor="let lane of board.lanes"
        href="javascript:void(0)"
        class="list-group-item list-group-item-action"
        (click)="moveCardToBoard(newCardId, columnId, lane.id, siblingCardId)"
      >
        <div class="d-flex align-items-center">
          <i class="pi pi-arrow-down-right me-1"></i> Move to
          <span
            class="border border-1 border-light-subtle mx-1 d-inline-block"
            style="min-height: 1rem; min-width: 1rem; {{getLaneColor(lane)}}"
          ></span>
          {{getTextOrDefault(lane.title)}} lane
        </div>

      </a>
      <a
        href="javascript:void(0)"
        class="list-group-item list-group-item-action"
        (click)="createChild(newCardId, columnId, siblingCardId)"
      >
        <i class="pi pi-pencil"></i> Create a child
      </a>
      <a
        href="javascript:void(0)"
        class="list-group-item list-group-item-action"
        (click)="droppedCardPopover.close(false)"
      >
        <i class="pi pi-times"></i> Cancel
      </a>
    </div>
  </ng-template>
  <div
    class="w-100 border border-1 rounded bg-light-subtle p-2 mb-2 cursor-loading"
    [ngbPopover]="droppedCardPopoverContent"
    autoClose="outside"
    container="body"
    #droppedCardPopover="ngbPopover"
    (hidden)="removeDroppedCardPlaceholder(newCardId, columnId)"
  >
    <div class="d-flex justify-content-between align-items-center">
      <span class="placeholder placeholder-xs col-2"></span>
      <span class="placeholder col-3"></span>
    </div>
    <div class="mt-2">
      <span class="placeholder col-4 me-1"></span>
      <span class="placeholder col-2 me-1"></span>
      <span class="placeholder col-1 me-1"></span>
      <span class="placeholder col-3"></span>
      <span class="placeholder col-5"></span>
      <span class="placeholder col-5"></span>
    </div>
    <div class="mt-2">
      <span
        class="placeholder rounded-circle"
        style="min-width: 24px; min-height: 24px"
      ></span>
      <span class="placeholder placeholder-xs col-1 ms-2"></span>
      <span class="placeholder placeholder-xs col-2 ms-2"></span>
      <span class="placeholder placeholder-xs col-4 ms-2"></span>
    </div>
  </div>
</ng-template>

<ng-template
  #boardColumn
  let-title="title"
  let-isSubColumn="isSubColumn"
  let-index="index"
  let-columnId="columnId"
>
  <div
    *ngIf="!(hideEmpty && !boardItemsByColumnId[columnId]?.length)"
    class="d-flex column-content z-0"
    [ngClass]="{ 'flex-column px-2 w-100': currentBoardStyle === BoardStyle.HorizontalCollapsible && !collapsedColumns[columnId] }"
    [ngStyle]="{'border-bottom border-bottom-style: dashed !important;': currentBoardStyle === BoardStyle.Vertical}"
  >
    <div
      class="text-uppercase text-nowrap {{'bg-grad-' + index}} subcolumn-header-container"
      [ngClass]="{
        'mx-n2 px-2 sticky-top': currentBoardStyle === BoardStyle.HorizontalCollapsible && !collapsedColumns[columnId],
        'cursor-pointer': currentBoardStyle === BoardStyle.HorizontalCollapsible,
        'hidden': currentBoardStyle === BoardStyle.HorizontalCollapsible && !collapsedColumns[columnId] && !isSubColumn,
      }"
      *ngIf="currentBoardStyle === BoardStyle.Vertical || isSubColumn"
      style="min-width: 19px;"
      (click)="toggleColumnCollapsed(columnId)"
    >
      <div
        class="sticky-top user-select-none subcolumn-header d-flex align-items-center"
        style="font-size: small"
        [ngClass]="{
          '': currentBoardStyle === BoardStyle.HorizontalCollapsible && !collapsedColumns[columnId],
          'flex-column my-3': !(currentBoardStyle === BoardStyle.HorizontalCollapsible && !collapsedColumns[columnId]),
        }"
      >
        <strong [class.text-vertical]="!(currentBoardStyle === BoardStyle.HorizontalCollapsible && !collapsedColumns[columnId])">{{getTextOrDefault(title)}}</strong>
        <strong
          class="my-1"
          [class.text-vertical]="!(currentBoardStyle === BoardStyle.HorizontalCollapsible && !collapsedColumns[columnId])"
          *ngIf="currentBoardStyle === BoardStyle.HorizontalCollapsible && collapsedColumns[columnId]"
        >[{{ cardsCountByColumnId[columnId] }}]</strong>
        <button
          type="button"
          class="btn btn-sm btn-icon-sm border border-1 btn-light"
          [ngClass]="{
              'mx-2': !collapsedColumns[columnId]
            }"
          *ngIf="currentBoardStyle === BoardStyle.HorizontalCollapsible"
        >
          <i
            class="pi"
            [ngClass]="{
                  'pi-chevron-left': !collapsedColumns[columnId],
                  'pi-chevron-right': collapsedColumns[columnId],
                }"
          ></i>
        </button>
      </div>
    </div>
    <div
      class="mx-2 pt-2 w-100 content-when-empty"
      [attr.data-content-when-empty]="'no cards in this state'"
      *ngIf="!collapsedColumns[columnId] || currentBoardStyle === BoardStyle.Vertical"
      [ngClass]="{
        'mx-2': !(currentBoardStyle === BoardStyle.HorizontalCollapsible && !collapsedColumns[columnId]),
        'h-100': currentBoardStyle === BoardStyle.HorizontalCollapsible && !collapsedColumns[columnId],
      }"
      dragula="CARD"
      [attr.data-column-id]="columnId"
      style="min-width: 222px"
    >
      <ng-container *ngFor="let boardItem of boardItemsByColumnId[columnId]">
        <app-card
          *ngIf="boardItem.card"
          [card]="boardItem.card"
          (updated)="refresh(true)"
          [attr.data-card-id]="boardItem.card.id"
          (openRequest)="openCard.emit($event)"
        ></app-card>
        <ng-container
          *ngIf="boardItem.placeholder"
          [ngTemplateOutlet]="cardPlaceholderTemplate"
          [ngTemplateOutletContext]="boardItem.placeholder"
        >
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template
  #viewColumnsTemplate
  let-columns="columns"
  let-viewColumnIndex="viewColumnIndex"
>
  <div
    class="d-flex flex-column grid-column"
    dragula="COLUMN"
    [class.flex-grow-1]="currentBoardStyle === BoardStyle.Vertical"
    [class.w-100]="!checkViewColumnCollapsed(viewColumnIndex)"
    [attr.data-view-column-index]="viewColumnIndex"
  >
    <div
      *ngFor="let column of columns; index as i"
      [attr.data-column-index]="i"
      class="column"
    >
      <div
        class="border border-1 p-1 column-title z-1 column-header bg-light-subtle"
        [class.sticky-top]="!checkAllSubColumnsCollapsed(column) || currentBoardStyle === BoardStyle.Vertical"
      >
        <div
          class="d-flex align-items-center align-content-center strong small column-header-content"
          [ngClass]="{
            'sticky-top': checkAllSubColumnsCollapsed(column),
            'cursor-move': currentBoardStyle === BoardStyle.Vertical,
            'cursor-pointer': currentBoardStyle === BoardStyle.HorizontalCollapsible,
            'text-vertical all-collapsed flex-row': currentBoardStyle === BoardStyle.HorizontalCollapsible && checkAllSubColumnsCollapsed(column),
          }"
          (click)="toggleRootColumnCollapsed(column)"
        >
          <span
            class="user-select-none text-truncate"
            style="max-width: 300px"
            [ngbTooltip]="getTextOrDefault(column.title, board.title)"
            container="body"
            [ngClass]="{
              'mb-2': currentBoardStyle === BoardStyle.HorizontalCollapsible && checkAllSubColumnsCollapsed(column),
            }"
          >{{getTextOrDefault(column.title, board.title)}}</span>
          <button
            type="button"
            class="btn btn-sm btn-icon-sm border border-1 d-inline-block btn-light"
            [ngClass]="{
              'mx-2': !checkAllSubColumnsCollapsed(column),
              'mb-2': checkAllSubColumnsCollapsed(column)
            }"
            *ngIf="currentBoardStyle === BoardStyle.HorizontalCollapsible"
          >
            <i
              class="pi"
              [ngClass]="{
                'pi-chevron-left': !checkAllSubColumnsCollapsed(column),
                'pi-chevron-right': checkAllSubColumnsCollapsed(column),
              }"
            ></i>
          </button>
          <span
            class="small text-nowrap"
            ngbTooltip="WIP limit"
            container="body"
            *ngIf="column.wip_limit"
            [class.text-danger]="column.wip_limit < getColumnLimitFulfillment(column.id, column.wip_limit_type)"
            [class.text-warning]="getColumnLimitFulfillment(column.id, column.wip_limit_type) / column.wip_limit * 100. > 80."
            [class.text-success]="getColumnLimitFulfillment(column.id, column.wip_limit_type) / column.wip_limit * 100. < 50."
            [ngClass]="{
            'ms-auto': currentBoardStyle === BoardStyle.Vertical || currentBoardStyle === BoardStyle.HorizontalCollapsible && !checkAllSubColumnsCollapsed(column)
          }"
          >
            [{{getColumnLimitFulfillment(column.id, column.wip_limit_type)}} of {{column.wip_limit}}]
          </span>
          <span
            class="small text-nowrap"
            ngbTooltip="Cards in column"
            *ngIf="!column.wip_limit"
            [ngClass]="{
            'ms-auto': currentBoardStyle === BoardStyle.Vertical || currentBoardStyle === BoardStyle.HorizontalCollapsible && !checkAllSubColumnsCollapsed(column)
          }"
          >
            [{{cardsCountByRootColumnId[column.id] ?? 0}}]
          </span>
        </div>
      </div>



      <div
        *ngIf="column?.subcolumns?.length && currentBoardStyle === BoardStyle.HorizontalCollapsible"
        class="d-flex flex-column flex-grow-1"
      >
        <div class="d-flex flex-grow-1 flex-row">
          <ng-container
            *ngFor="let subcolumn of column.subcolumns; index as i"
            [ngTemplateOutlet]="boardColumn"
            [ngTemplateOutletContext]="{index: i, title: subcolumn.title, columnId: subcolumn.id, isSubColumn: true}"
          >
          </ng-container>
        </div>
      </div>

      <ng-container *ngIf="column?.subcolumns?.length && currentBoardStyle === BoardStyle.Vertical">
        <ng-container
          *ngFor="let subcolumn of column.subcolumns; index as i"
          [ngTemplateOutlet]="boardColumn"
          [ngTemplateOutletContext]="{index: i, title: subcolumn.title, columnId: subcolumn.id, isSubColumn: true}"
        >
        </ng-container>
      </ng-container>

      <ng-container
        *ngIf="!column.subcolumns?.length"
        [ngTemplateOutlet]="boardColumn"
        [ngTemplateOutletContext]="{index: 0, title: column.title, columnId: column.id, isSubColumn: false}"
      >
      </ng-container>
    </div>
  </div>
</ng-template>

<div
  class="d-flex flex-wrap flex-md-nowrap h-100"
  [attr.data-board-style]="currentBoardStyle.toString()"
>
  <ng-container
    *ngFor="let viewColumn of viewColumns; index as i"
    [ngTemplateOutlet]="viewColumnsTemplate"
    [ngTemplateOutletContext]="{columns: viewColumn.columns, viewColumnIndex: i}"
  ></ng-container>
</div>
