@import 'bootstrap/scss/bootstrap';

.input-group input.form-control {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

@media only screen and (max-width: 768px) {
  .input-group input.form-control {
    border-bottom-left-radius: $border-radius !important;
    border-top-left-radius: $border-radius !important;;
  }
}