@import "bootstrap/scss/bootstrap-utilities";

.inline-property:hover,
.inline-property.active,
{
  background-color: $gray-400;
  color: $dark !important;
  cursor: pointer;
}

.blur {
  filter: blur(1px);
}