<div class="modal-header" style="background-color: #8146D3;">
    <div class="w-100 me-3">
        <input
                type="search"
                class="form-control form-control-lg"
                placeholder="Search boards"
                id="boardSearchInput"
                (input)="filter(InputFromEventFunction($event).value)"
        >
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
</div>

<div class="modal-body">
    <div *ngFor="let space of filteredSpaces" class="mt-3 result-group">
        <h5 style="color: #8146D3">{{space.title}}</h5>
        <ul class="list-group">
            <li *ngFor="let board of space.boards" class="list-group-item">
                <a class="dropdown-item" href="javascript:void(0)" (click)="switchBoard(space.id, board.id)">{{board.title}}</a>
            </li>
        </ul>
    </div>

    <div *ngIf="isLoading" class="text-center">
        <div>
            <i class="pi pi-spin pi-spinner"></i> <span class="ms-2 small">Loading</span>
        </div>
    </div>

    <div *ngIf="!isLoading && !filteredSpaces?.length" class="opacity-75 small">
        Nothing found
    </div>
</div>
