<ng-template #headerAndTitle>
  <div class="d-flex align-items-center small flex-wrap">
    <div class="me-2">
      <div
        ngbDropdown
        class="d-inline-block"
      >
        <button
          type="button"
          class="btn btn-sm btn-link text-decoration-none p-0"
          id="dropdownBasic1"
          ngbDropdownToggle
          [disabled]="isSaving"
        >
          {{card.type.name}}
        </button>
        <div
          ngbDropdownMenu
          aria-labelledby="dropdownBasic1"
          style="max-height: 400px"
          class="overflow-y-auto overflow-x-hidden"
        >
          <button
            ngbDropdownItem
            *ngFor="let type of cardTypes"
            (click)="saveType(type)"
          >{{ type.name }}</button>
        </div>
      </div>
    </div>
    <div
      class="text-nowrap me-2"
      *ngIf="card.state !== CardState.Draft"
    >
      <i
        class="pi pi-hashtag"
        style="font-size: .775em;"
      ></i>
      <strong>{{card.id}}</strong>
    </div>

    <div class="align-items-center d-none d-sm-flex">
      <div class="me-2">created by</div>
      <app-inline-member
        class="text-primary-balanced me-2"
        [profile]="card.owner"
      ></app-inline-member>
      <div>on {{card.created | date }} ({{card.created | timeago }})</div>
    </div>

    <div class="form-check form-switch ms-auto mt-1">
      <label
        class="form-check-label"
        for="flexSwitchCheckDefault"
      >ASAP</label>
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
        [ngModel]="card.asap"
        (ngModelChange)="updateAsap($event)"
        [disabled]="isSaving"
      >
    </div>

  </div>

  <h3
    *ngIf="showHeader"
    class="mt-2 d-flex"
  >
    <div class="flex-grow-1">
      <div
        class="badge smaller bg-kaiten text-white"
        *ngIf="card.archived"
      >Archived</div>
      <app-text-editor
        type="textarea"
        placeholder="Add a card title here"
        #title
        [alwaysEditable]="alwaysEditable"
        [isLoading]="isSaving"
        [ngModel]="card.title"
        (ngModelChange)="instantUpdateTitle($event)"
        (save)="saveTitle($event)"
        [disabled]="isSaving"
      ></app-text-editor>
    </div>

    <div class="text-nowrap">
      <app-copy-to-clipboard-button
        btnClass="text-secondary"
        *ngIf="card.state !== CardState.Draft"
        [data]="clipboardLink$"
      ></app-copy-to-clipboard-button>
      <div
        class="d-inline"
        ngbDropdown
        #myDrop="ngbDropdown"
        container="body"
        ngbTooltip="More actions"
        triggers="hover"
      >
        <button
          type="button"
          class="btn btn-icon-sm btn-link ms-1 text-secondary"
          [id]="'actions' + card.id"
          ngbDropdownAnchor
          (focus)="myDrop.open()"
          [disabled]="isSaving"
        >
          <i class="pi pi-ellipsis-v"></i>
        </button>
        <div
          ngbDropdownMenu
          [attr.aria-labelledby]="'actions' + card.id"
        >
          <button
            ngbDropdownItem
            type="button"
            (click)="addChecklist()"
          >
            <i class="pi pi-check-square"></i> Add checklist
          </button>
          <div
            class="dropdown-divider"
            *ngIf="card.state !== CardState.Draft"
          ></div>
          <button
            ngbDropdownItem
            type="button"
            (click)="addBlocker()"
            *ngIf="card.state !== CardState.Draft"
          >
            <i class="pi pi-lock"></i> Add blocker
          </button>
          <button
            ngbDropdownItem
            type="button"
            (click)="addParent()"
            *ngIf="card.state !== CardState.Draft"
          >
            <i class="pi pi-arrow-up-left"></i> Add parent
          </button>
          <button
            ngbDropdownItem
            type="button"
            (click)="addChild()"
            *ngIf="card.state !== CardState.Draft"
          >
            <i class="pi pi-arrow-down-right"></i> Add child
          </button>
          <button
            ngbDropdownItem
            type="button"
            (click)="addRelated()"
            *ngIf="card.state !== CardState.Draft"
          >
            <i class="pi pi-link"></i> Add related
          </button>
          <div
            class="dropdown-divider"
            *ngIf="card.state !== CardState.Draft"
          ></div>
          <button
            ngbDropdownItem
            type="button"
            (click)="archiveCard()"
            *ngIf="card.state !== CardState.Draft"
          >
            <i class="pi pi-history"></i> {{ card.archived ? 'Un-archive' : 'Archive' }}
          </button>
          <button
            ngbDropdownItem
            type="button"
            (click)="deleteCard()"
            *ngIf="card.state !== CardState.Draft"
          >
            <i class="pi pi-trash"></i> Delete card
          </button>
        </div>
      </div>
    </div>
  </h3>
  <div
    class="mt-2 p-2 rounded border border-1 font-size-medium text-bg-purple mb-2 mb-md-0 d-flex align-items-center"
    *ngIf="card.block_reason || card.blockers?.length"
  >
    <div *ngIf="!card.block_reason">
      <i class="pi pi-exclamation-circle strong align-self-start me-2"></i>
      <span>This card is blocked by another card</span>
      <a
        class="ms-1"
        href="javascript:void(0)"
        (click)="focusBlocker()"
      >see blockers</a>
    </div>
    <div
      *ngIf="card.block_reason"
      class="d-flex"
    >
      <i class="pi pi-exclamation-circle strong align-self-start me-2 mt-1"></i>
      <app-md-viewer
        class="small"
        [ngModel]="card.block_reason"
        [hideBorder]="true"
      ></app-md-viewer>
    </div>

    <button
      type="button"
      class="btn btn-sm btn-link ms-auto text-light ms-auto align-self-start"
      (click)="deleteBlocker()"
      [disabled]="isSaving"
    >
      <i
        class="pi pi-times"
        style="font-size: .5em"
      ></i>
    </button>
  </div>
</ng-template>

<div class="d-flex flex-column flex-md-row mx-n2">
  <div class="d-md-none px-0">
    <ng-container *ngTemplateOutlet="headerAndTitle"></ng-container>
  </div>

  <div class="order-1 order-md-0 flex-grow-1">
    <div class="d-none d-md-block">
      <ng-container *ngTemplateOutlet="headerAndTitle"></ng-container>
    </div>

    <div class="mt-3">
      <app-text-editor
        type="markdown"
        [alwaysEditable]="alwaysEditable"
        [isLoading]="isSaving"
        [ngModel]="card.description"
        (ngModelChange)="instantUpdateDescription($event)"
        (save)="saveDescription($event)"
        placeholder="Add description here"
        [minHeight]="100"
        [disabled]="isSaving"
      ></app-text-editor>
    </div>

    <div class="mt-3">
      <app-card-list-of-checklists [card]="card"></app-card-list-of-checklists>
    </div>

    <div
      class="mt-3 w-100"
      *ngIf="showReferences"
    >
      <app-card-references-accordion
        [card]="card"
        (deleteBlocker)="deleteBlockerById($event)"
        (deleteChild)="deleteChild($event)"
        (deleteParent)="deleteParent($event)"
        [disabled]="isSaving"
      ></app-card-references-accordion>
    </div>

    <div
      class="mt-3 w-100"
      *ngIf="card.files?.length"
    >
      <app-card-attachments [card]="card"></app-card-attachments>
    </div>

    <div
      class="mt-3 w-100"
      *ngIf="showComments"
    >
      <app-card-comments [card]="card"></app-card-comments>
    </div>
  </div>

  <div class="ms-md-3 me-md-0 order-0 order-md-1 properties-width-container">
    <a
      href="javascript:void(0)"
      class="text-secondary text-decoration-none d-block"
      [class.d-md-none]="collapsableProperties && !isCollapsedProperties"
      (click)="isCollapsedProperties = !isCollapsedProperties"
      *ngIf="collapsableProperties"
    >
      <div class="small d-flex">
        <div class="border-bottom flex-grow-1 mb-2"></div>
        <span class="mx-2 text-secondary">
          <i
            class="pi"
            [ngClass]="{ 'pi-chevron-up': !isCollapsedProperties, 'pi-chevron-down': isCollapsedProperties }"
          ></i>
          {{ isCollapsedProperties ? 'expand properties' : 'collapse properties'}}
        </span>
        <div class="border-bottom flex-grow-1 mb-2"></div>
      </div>
    </a>
    <div
      class="sticky-top z-1 border border-1 border-dark-subtle bg-secondary-balanced properties-color-container"
      style="top: .5rem;"
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsedProperties"
    >
      <div
        class="overflow-y-auto overflow-x-hidden properties-min-height-container"
        [ngStyle]="{ 'max-height': propertiesHeight }"
      >
        <app-card-properties [card]="card"></app-card-properties>
      </div>
    </div>
  </div>
</div>
