<ng-template #headerAndTitle>
    <div class="d-flex align-items-center small bg-white flex-wrap">
        <div class="me-2 text-primary">{{card.type.name}}</div>
        <div class="text-nowrap me-2"><i class="pi pi-hashtag" style="font-size: .775em;"></i><strong>{{card.id}}</strong></div>

        <div class="align-items-center d-none d-sm-flex">
            <div class="me-2">created by</div>
            <app-inline-member class="text-primary me-2" [profile]="card.owner"></app-inline-member>
            <div>on {{card.created | date }} ({{card.created | timeago }})</div>
        </div>

        <div class="form-check form-switch ms-auto mt-1">
            <label class="form-check-label" for="flexSwitchCheckDefault">ASAP</label>
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [ngModel]="card.asap" (ngModelChange)="updateAsap($event)" [disabled]="isSaving">
        </div>

    </div>

    <h3 *ngIf="showTitle" class="mt-2 d-flex">
        <span class="flex-grow-1">{{card.title}}</span>

        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" container="body">
            <button
                    type="button"
                    class="btn btn-icon-sm btn-link ms-2 text-secondary"
                    [id]="'actions' + card.id"
                    ngbTooltip="More actions"
                    triggers="click hover"
                    ngbDropdownAnchor
                    (focus)="myDrop.open()"
                    [disabled]="isSaving"
            >
                <i class="pi pi-ellipsis-v"></i>
            </button>
            <div ngbDropdownMenu [attr.aria-labelledby]="'actions' + card.id">
                <button ngbDropdownItem type="button" (click)="addChecklist()"><i class="pi pi-check-square"></i> Add checklist</button>
            </div>
        </div>
    </h3>
</ng-template>

<div class="row">
    <div class="d-md-none">
        <ng-container *ngTemplateOutlet="headerAndTitle"></ng-container>
    </div>

    <div class="col-12 px-0 px-sm-3 col-md-7 col-lg-8 col-xl-9 order-1 order-md-0">
        <div class="d-none d-md-block">
            <ng-container *ngTemplateOutlet="headerAndTitle"></ng-container>
        </div>

        <div class="mt-2 p-2 rounded border-2 border-dark" *ngIf="card.block_reason" style="background-color: #EDD1CE">
            <i class="pi pi-exclamation-circle" style="color: red; font-weight: bold;"></i>
            {{card.block_reason}}
        </div>
        <div class="mt-3 mt-md-4">
            <app-md-editor [(ngModel)]="card.description" placeholder="Type description here" [minHeight]="100"></app-md-editor>
            <div class="my-2 text-end" *ngIf="!CheckTextEqualsFunction(card.description, originalDescription)">
                <button type="button"
                        class="btn btn-sm btn-outline-primary me-2"
                        (click)="saveDescription($event);"
                        [disabled]="isSaving"
                >
                    <i class="pi pi-check text-success" *ngIf="!isSaving"></i>
                    <i class="pi pi-spinner pi-spin" *ngIf="isSaving"></i>
                    Save
                </button>

                <button type="button"
                        class="btn btn-sm btn-outline-secondary"
                        (click)="discardChanges($event);"
                        [disabled]="isSaving"
                >
                    Discard
                </button>
            </div>
        </div>

        <div class="mt-3">
            <app-card-list-of-checklists [card]="card"></app-card-list-of-checklists>
        </div>

        <div class="mt-3 w-100">
            <app-card-references-accordion [card]="card"></app-card-references-accordion>
        </div>

        <div class="mt-3 w-100">
            <app-card-comments [cardId]="card.id"></app-card-comments>
        </div>
    </div>

    <div class="border border-1 mt-2 mt-lg-0 col-12 col-md-5 col-lg-4 col-xl-3 order-0 order-md-1 px-0" style="background-color: #F7F9FA; border-color: #DFE5EB;">
        <app-card-properties [card]="card"></app-card-properties>
    </div>
</div>