$enable-negative-margins: true;

@import 'bootstrap/scss/bootstrap';
@import 'primeicons/primeicons.css';
@import '@toast-ui/editor/dist/toastui-editor.css';
@import "../node_modules/dragula/dist/dragula.css";
@import "../node_modules/simplemde/dist/simplemde.min.css";

$gray-1000: #131e28;
$kaiten: #8146D3;

.mt-2-next + .mt-2-next {
  margin-top: 0.25rem;
}

.tui-editor-defaultUI-toolbar .custom-button {
  font-weight: bold;
  width: unset;
  color: $dark;
  padding-top: 2px;
}

.simplemde-toolbar {
  min-height: 32px;
  padding: 0 10px;
  border: $border-width $border-style $border-color;
  border-bottom: none;
  display: flex;
  align-items: center;
  background-color: white;
  color: $dark !important;

  button {
    border: 1px solid #aaa;
    background-color: #fff;
    color: $dark !important;
    min-width: 22px;
    height: 22px;
    padding: 2px 3px;
    font-size: 12px;
    font-weight: bold;
  }
}

.simplemde .CodeMirror-scroll,
.simplemde .CodeMirror {
  min-height: 100px !important;
}

.simplemde,
.tui-editor-contents {
  font-size: 14px;
}

.small .simplemde,
.small .tui-editor-contents {
  font-size: 12.9px;
}

.small .tui-editor-contents p {
  margin-top: 0;
  margin-bottom: 0;
}

.tui-editor-contents blockquote {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  * {
    color: $gray-700 !important;
  }
}

.te-ww-block-overlay.code-block-header {
  display: none !important;
}

.tui-editor-contents,
.tui-editor-contents blockquote,
.tui-editor-contents code,
.tui-editor-contents [data-te-codeblock],
.simplemde .CodeMirror-wrap pre {
  word-break: break-word;
  word-wrap: break-word;
  text-wrap: wrap;
}

.text-bg-purple,
[data-bs-theme="dark"] {
  .simplemde .CodeMirror,
  .tui-editor-contents ul,
  .tui-editor-contents menu,
  .tui-editor-contents ol,
  .tui-editor-contents dir,
  .tui-editor-contents td,
  .tui-editor-contents p,
  .tui-editor-contents h1,
  .tui-editor-contents h2,
  .tui-editor-contents h3,
  .tui-editor-contents h4,
  .tui-editor-contents h5,
  .tui-editor-contents h6 {
    color: white !important;
  }

  .tui-editor-contents blockquote * {
    color: $gray-400 !important;
  }

  .hover:hover {
    .tui-editor-contents ul,
    .tui-editor-contents menu,
    .tui-editor-contents ol,
    .tui-editor-contents dir,
    .tui-editor-contents td,
    .tui-editor-contents p,
    .tui-editor-contents h1,
    .tui-editor-contents h2,
    .tui-editor-contents h3,
    .tui-editor-contents h4,
    .tui-editor-contents h5,
    .tui-editor-contents h6 {
      color: $dark !important;
    }
  }

  .tui-editor-contents pre {
    color: $dark;
    background-color: $dark-bg-subtle;
  }

  .simplemde .CodeMirror td,
  .simplemde .CodeMirror th,
  .tui-editor-contents td,
  .tui-editor-contents th {
    border-color: $gray-200 !important;
  }

  .simplemde .CodeMirror,
  .te-ww-container {
    background-color: $gray-800 !important;
    color: $white
  }
}

[data-bs-theme="dark"] {
  body {
    background-color: $dark !important;
  }

  .result-row {
    background-color: $dark;
    border-bottom-color: #cdcfd4;
  }
  .result-row:nth-of-type(2n)  {
    background-color: $gray-800;
  }

  .text-primary-balanced {
    color: $blue-300 !important;
  }

  .bg-secondary-balanced {
    background-color: #161719 !important;
  }

  ngb-popover-window {
    background-color: $gray-1000;
  }

  [data-popper-placement^="left"] [data-popper-arrow]:after {
    border-left-color: $gray-1000;
  }

  [data-popper-placement^="right"] [data-popper-arrow]:after {
    border-right-color: $gray-1000;
  }

  [data-popper-placement^="top"] [data-popper-arrow]:after {
    border-top-color: $gray-1000;
  }

  [data-popper-placement^="bottom"] [data-popper-arrow]:after {
    border-bottom-color: $gray-1000;
  }
}

.bg-secondary-balanced
{
  background-color: #F7F9FA !important;
}

.result-row {
  background-color: $light-bg-subtle;
  border-bottom-color: #cdcfd4;
}

.result-row:nth-of-type(2n)  {
  background-color: $gray-200;
}

.text-bg-purple {
  background-color: #a75954;
  color: $light
}

.text-primary-balanced {
  color: $blue-500 !important;
}

body {
  margin-bottom: .5rem;
}

$bg-gray: #F7F9FA;

.bg-grad-0 {
  background-color: #E8DBB0;
  color: black;
}

.bg-grad-1 {
  background-color: #C8CFC7;
  color: black;
}

.bg-grad-2 {
  background-color: #B2C7D3;
  color: black;
}

.bg-grad-3 {
  background-color: #A4C9D1;
  color: black;
}

.bg-grad-4 {
  background-color: #86B0B1;
  color: black;
}

.smaller {
  font-size: .575em;
}

.font-size-medium {
  font-size: 0.8em;
}

.font-size-normal {
  font-size: 14px;
}

.card-member+.card-member {
  margin-top: 0.5rem;
}

.bg-kaiten {
  @extend .text-white;
  background-color: $kaiten;
}

.text-kaiten {
  color: $kaiten;
}

body {
  min-height: 100%;
}

.strong {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

app-list-of-related-cards .list .item:last-child {
  border-bottom: none !important;
}

.no-toolbar .te-toolbar-section {
  display: none;
}

.tui-editor-defaultUI {
  border: none;
}

.inline-editor .tui-editor-contents {
  padding: 0 !important;
}

.inline-editor .tui-editor-contents  p:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.inline-editor .te-toolbar-section {
  display: none;
}

.typeahead-popover > .popover-body {
  padding: 0 !important;
}


* .visible-on-hover {
  visibility: hidden;
}

*:hover > .visible-on-hover {
  visibility: visible;
}

.pi {
  font-size: 0.8em;
}

.btn-icon-sm {
  padding: 0;
  width: 1rem;
  height: 1rem;
  position: relative;
}

.btn-icon-sm i.pi {
  font-size: 0.8em;
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-icon-sm.dropdown-toggle:after {
  display: none;
}

.shadow-primary {
  box-shadow: 0 0 0.5rem rgba($primary, 0.8) !important;
}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 2s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.blink .pi {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: blink 2s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% { color: $primary; }
  100% { color: initial; }
}

.border-dash {
  border-style: dashed !important;
}

.border-after:after {
  content: ' ';
  border-right: $border-width $border-style $border-color;
}

@media only screen and (min-width: 768px) {
  .modal-90-prc {
    min-width: 90% !important;
  }

  body:has(app-board-page) {
    min-width: fit-content !important;
  }
}

.ptr--ptr *{
  color: $secondary !important;
}
