<div>


  <app-md-viewer
    [hideBorder]="true"
    class="inline-editor"
    *ngIf="!isEditing && !alwaysEditable && type === 'markdown'"
    [ngModel]="originalValue"
    (dblclick)="openEditor($event)"
    [placeholder]="placeholder"
  ></app-md-viewer>

  <span
    class="text-break"
    (dblclick)="openEditor($event)"
    *ngIf="!isEditing && !alwaysEditable && type === 'textarea'"
  >{{originalValue || placeholder}}</span>

  <ng-container *ngIf="isEditing || alwaysEditable">
    <app-md-editor
      #mdEditor
      [ngModel]="newValue"
      (ngModelChange)="updateNewValue($event)"
      [minHeight]="minHeight"
      [placeholder]="placeholder"
      [disabled]="disabled || isLoading"
      *ngIf="type === 'markdown'"
    ></app-md-editor>

    <textarea
      #textEditor
      class="form-control"
      [class.border-0]="alwaysEditable"
      autosize
      [placeholder]="placeholder"
      *ngIf="type === 'textarea'"
      [ngModel]="newValue"
      (ngModelChange)="updateNewValue($event)"
      [disabled]="disabled || isLoading"
    ></textarea>
  </ng-container>

  <div
    class="d-flex align-items-center"
    [class.mt-2]="isEditing || alwaysEditable"
  >
    <div
      class="text-start"
      *ngIf="isEditing && !alwaysEditable"
    >
      <button
        type="button"
        class="btn btn-sm btn-outline-primary me-2"
        (click)="notifySave($event)"
        [disabled]="disabled || isLoading"
      >
        <i
          class="pi pi-check text-success"
          *ngIf="!isLoading"
        ></i>
        <i
          class="pi pi-spinner pi-spin"
          *ngIf="isLoading"
        ></i>
        Save
      </button>

      <button
        type="button"
        class="btn btn-sm btn-outline-secondary"
        (click)="discardChanges($event)"
        [disabled]="disabled || isLoading"
      >
        Discard
      </button>
    </div>
    <ng-container
      *ngIf="additionalControls"
      [ngTemplateOutlet]="additionalControls"
    ></ng-container>
  </div>

</div>