<div class="p-4 d-flex align-items-center bg-kaiten flex-wrap flex-md-nowrap flex-row-reverse">
    <div class="mx-auto mb-2 mb-md-0 ms-md-4 ms-lg-0">
        <app-current-user></app-current-user>
    </div>

    <div class="flex-grow-1">
        <div class="d-flex align-items-center flex-wrap flex-lg-nowrap justify-content-center justify-content-md-start">
            <h3 class="mt-0 text-white d-flex align-items-center mb-2" style="cursor: pointer" (click)="search()">
                <img alt="logo" ngSrc="assets/logo.svg" width="32" height="32" class="me-3"/>
                <span class="small d-md-none text-wrap">{{ title }}</span>
                <span class="d-none d-md-inline text-nowrap">{{ title }}</span>
                <sup *ngIf="title" class="d-none d-md-block"><span class="ms-2 text-white opacity-50" style="font-size: 0.8rem">(CTRL+K)</span></sup>
            </h3>
            <ng-container *ngIf="contentTemplate" [ngTemplateOutlet]="contentTemplate"></ng-container>
        </div>
    </div>
</div>