<div class="p-4 d-flex align-items-center bg-kaiten">
    <div class="flex-grow-1">
        <div class="d-flex align-items-center flex-wrap flex-lg-nowrap">
            <h3 class="text-nowrap my-0 text-white d-flex" style="cursor: pointer" (click)="search()">
                <img alt="logo" ngSrc="assets/logo.svg" width="32" height="32" class="me-3"/>
                <span>{{ title }}</span>
                <sup *ngIf="title"><span class="ms-2 text-white opacity-50" style="font-size: 0.8rem">(CTRL+K)</span></sup>
            </h3>
            <div *ngIf="contentTemplate">
                <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
            </div>

            <input type="text"
                   *ngIf="showSearch"
                   class="form-control mt-2 mt-lg-0 me-2 mx-lg-4 flex-grow-1"
                   #cardSearchInput
                   id="cardSearchInput"
                   placeholder="Type your search query here or press (CTRL+F)"
                   (keydown.enter)="filter.emit(InputFromEventFunction($event).value)"
            >
        </div>
    </div>

    <app-current-user></app-current-user>
</div>