<div class="modal-header">
  <h1
    class="modal-title fs-5"
    id="exampleModalLabel"
  >{{title}}</h1>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    tabindex="-1"
    (click)="modal.close()"
  ></button>
</div>
<div class="modal-body">
  <div>
    <label
      for="value"
      class="form-label"
    >{{label}}</label>
    <input
      type="text"
      class="form-control"
      id="value"
      [(ngModel)]="value"
      [disabled]="isLoading"
    >
  </div>
</div>
<div class="modal-footer justify-content-between">
  <div>
    <i
      class="pi pi-spin pi-spinner"
      *ngIf="isLoading"
    ></i>
  </div>
  <button
    type="button"
    class="btn btn-primary"
    (click)="continue()"
    [disabled]="!value?.length || isLoading"
  >
    Continue
  </button>
</div>