<h6 class="mt-3 d-flex justify-content-between align-items-start">
    <div class="d-flex flex-column flex-grow-1" *ngIf="isEditingText">
        <app-md-editor class="inline-editor p-2 border border-1"
                       [(ngModel)]="editing.name"
                       [hideBorder]="true"
                       #editor
                       placeholder="Type text here"></app-md-editor>

        <div class="my-2 text-end">
            <button type="button"
                    class="btn btn-sm btn-outline-primary me-2"
                    (click)="saveText($event);"
                    [disabled]="isSaving"
            >
                <i class="pi pi-check text-success" *ngIf="!isSaving"></i>
                <i class="pi pi-spinner pi-spin" *ngIf="isSaving"></i>
                Save
            </button>

            <button type="button"
                    class="btn btn-sm btn-outline-secondary"
                    (click)="discardChanges($event);"
                    [disabled]="isSaving"
            >
                Discard
            </button>
        </div>
    </div>
    <span class="flex-grow-1" *ngIf="!isEditingText" (dblclick)="openTextEditor($event)">{{checklist.name}}</span>
    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" container="body">
        <button
                type="button"
                class="btn btn-icon-sm btn-link ms-2 text-secondary"
                [id]="'actions' + checklist.id"
                ngbDropdownAnchor
                (focus)="myDrop.open()"
                [disabled]="isSaving || disabled"
        >
            <i class="pi pi-ellipsis-v"></i>
        </button>
        <div ngbDropdownMenu [attr.aria-labelledby]="'actions' + checklist.id">
            <button ngbDropdownItem type="button" (click)="appendItem($event)"><i class="pi pi-plus"></i> Append item</button>
            <button ngbDropdownItem type="button" (click)="openTextEditor($event)"><i class="pi pi-pencil"></i> Edit</button>
            <button ngbDropdownItem type="button" (click)="delete.emit(checklist)"><i class="pi pi-trash"></i> Delete</button>
        </div>
    </div>
</h6>
<app-card-checklist-item
        *ngFor="let checklistItem of (checklist.items || [])"
        [cardId]="cardId"
        [checklistId]="checklist.id"
        [item]="checklistItem"
        [disabled]="isSaving"
        (insertBefore)="insertBefore($event)"
        (insertAfter)="insertAfter($event)"
        (delete)="deleteItem($event)"
></app-card-checklist-item>
<div *ngIf="!checklist.items?.length">
    <span class="med text-muted">Checklist is empty</span>
</div>