<app-page-header
  [title]="board.title"
  (switchBoard)="switchBoard($event.boardId)"
>
  <ng-template #controls>
    <app-card-search-input
      #cardSearchInput
      class="mt-2 w-100 flex-grow-1"
      style="min-width: 15rem;"
      [ngModel]="filterValue"
      (ngModelChange)="applyFilter($event)"
      placeholder="Type your search query here or press (CTRL+F)"
    ></app-card-search-input>
  </ng-template>
</app-page-header>
<app-board
  #boardComponent
  [board]="board"
  [cards]="boardCards"
  [columns]="boardColumns"
  (openCard)="openCard($event)"
  (loaded)="handleBoardLoaded()"
></app-board>
